*.swp
*.pyc
*.egg-info
ve/
*.swo
pep8.txt
.tox/
*.sqlite3
*.db
.DS_Store
/dev.sh
/tags
**/static/**/generated_statics
.stylelintcache
webpack-build-stats.json
sahi/global_include.sah
.sass-cache
.vscode
.mypy_cache
*.sqlite